.on-desktop-1 .screenshot-from-202408021212431 {
    background: url('../../assets/images/ScreenshotFrom202408021215451.png') 50% / cover no-repeat;
    width: 1494px;
    height: 928px;
  }
  .on-desktop-1 {
    display: flex;
    width: 1494px;
    box-sizing: border-box;
  }
  