.on-mobile-2 .screenshot-from-202408021216491 {
    background: url('../../assets/images/ScreenshotFrom202408021216491.png') 50% / cover no-repeat;
    width: 427px;
    height: 842px;
  }
  .on-mobile-2 {
    display: flex;
    box-sizing: border-box;
  }
  