.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 80px;
  }
.owner-dashboard .vector {
    width: 16px;
    height: 12px;
  }
  .owner-dashboard .lucidemenu {
    margin: 4.5px 19px 4.5px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .group-1 {
    margin-right: 14.1px;
    width: 37.9px;
    height: 21px;
  }
  .owner-dashboard .book-rent {
    margin: 4px 0;
    width: 79px;
    height: 13px;
  }
  .owner-dashboard .group-2 {
    display: flex;
    flex-direction: row;
    width: 131px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-3 {
    margin: 0 1px 40.5px 1px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 170px;
    box-sizing: border-box;
  }
  .owner-dashboard .line-1 {
    background: rgba(248, 248, 248, 0.5);
    margin-bottom: 19.5px;
    width: 230px;
    height: 0px;
  }
  .owner-dashboard .vector-22 {
    width: 20px;
    height: 18px;
  }
  .owner-dashboard .component-1 {
    margin-right: 12px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .dashboard {
    margin: 0.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
  }
  .owner-dashboard .frame-5 {
    border-radius: 5px;
    background: #00ABFF;
    margin-bottom: 22.3px;
    display: flex;
    flex-direction: row;
    padding: 13px 0 13px 17px;
    width: 230px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-23 {
    width: 16.5px;
    height: 19.5px;
  }
  .owner-dashboard .component-11 {
    margin-right: 13.8px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .dashboard-1 {
    margin: 1.3px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }
  .owner-dashboard .frame-8 {
    border-radius: 5px;
    margin: 0 18.8px 34.1px 18.8px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .group {
    width: 20.4px;
    height: 20.4px;
  }
  .owner-dashboard .component-12 {
    margin-right: 11.7px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .dashboard-2 {
    margin: 1.7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }
  .owner-dashboard .frame-12 {
    border-radius: 5px;
    margin: 0 16.9px 33.6px 16.9px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .group-1 {
    width: 20.4px;
    height: 20.4px;
  }
  .owner-dashboard .component-13 {
    margin-right: 11.7px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .dashboard-3 {
    margin: 1.7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }
  .owner-dashboard .frame-11 {
    border-radius: 5px;
    margin: 0 16.9px 33.6px 16.9px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .group-2 {
    width: 20.4px;
    height: 20.4px;
  }
  .owner-dashboard .component-14 {
    margin-right: 11.7px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .dashboard-4 {
    margin: 1.7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }
  .owner-dashboard .frame-9 {
    border-radius: 5px;
    margin: 0 16.9px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-7 {
    margin-bottom: 31.8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .line-2 {
    background: rgba(248, 248, 248, 0.5);
    margin-bottom: 29.5px;
    width: 230px;
    height: 0px;
  }
  .owner-dashboard .component-15 {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
  .owner-dashboard .dashboard-5 {
    margin: 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }
  .owner-dashboard .frame-71 {
    border-radius: 5px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .group-3 {
    width: 18px;
    height: 18px;
  }
  .owner-dashboard .component-16 {
    margin-right: 13px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .dashboard-6 {
    margin: 0.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }
  .owner-dashboard .frame-6 {
    border-radius: 5px;
    margin: 0 3px 35px 3px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .group-4 {
    width: 20px;
    height: 20px;
  }
  .owner-dashboard .component-17 {
    margin-right: 12px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .dashboard-7 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }
  .owner-dashboard .frame-10 {
    border-radius: 5px;
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-81 {
    margin: 0 63.6px 32px 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .line-3 {
    background: rgba(248, 248, 248, 0.5);
    margin-bottom: 327.5px;
    width: 230px;
    height: 0px;
  }
  .owner-dashboard .logout-1 {
    width: 20px;
    height: 20px;
  }
  .owner-dashboard .frame-39997 {
    margin: 2px 10px 2px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }
  .owner-dashboard .logout-2 {
    overflow-wrap: break-word;
    font-family: var(--h-4-font-family, 'Inter');
    font-weight: var(--h-4-font-weight, 500);
    font-size: var(--h-4-font-size, 18px);
    line-height: var(--h-4-line-height, 1.333);
    color: #FFFFFF;
  }
  .owner-dashboard .logout {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    width: 230px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-2 {
    border-radius: 15px;
    background: #171B36;
    position: relative;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding: 17.5px 25px 40px 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .admin-dashboard {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    line-height: 1.091;
    color: #000000;
  }
  .admin-dashboard {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 22px;
    line-height: 1.333;
    color: rgba(0, 0, 0, 0.5);
  }
  .owner-dashboard .frame-39998 {
    border-radius: 15px;
    background: #FFFFFF;
    position: relative;
    margin: 0 3px 20px 0;
    padding: 21px 49px 17px 49px;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .this-month-statistics {
    overflow-wrap: break-word;
    font-family: var(--header-h-2-font-family, 'Inter');
    font-weight: var(--header-h-2-font-weight, 500);
    font-size: var(--header-h-2-font-size, 20px);
    line-height: var(--header-h-2-line-height, 1.5);
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .tue-14-nov-20241130-am {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.286;
    color: var(--gray-03, #A3A3A3);
  }
  .owner-dashboard .date {
    margin-right: 15.8px;
    display: flex;
    box-sizing: border-box;
  }
  .owner-dashboard .header {
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .hire-vs-cancel {
    margin-right: 12px;
    width: 64px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.333;
    color: var(--gray-022, #656575);
  }
  .owner-dashboard .today {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-51-font-family, 'Inter');
    font-weight: var(--paragraph-p-51-font-weight, 400);
    font-size: var(--paragraph-p-51-font-size, 12px);
    line-height: var(--paragraph-p-51-line-height, 1.333);
    color: var(--gray-022, #656575);
  }
  .owner-dashboard .frame-40158 {
    border-radius: 2px;
    background: #F4F5F7;
    display: flex;
    padding: 4px 8px 4px 8.3px;
    box-sizing: border-box;
  }
  .owner-dashboard .header-5 {
    border-bottom: 1px solid rgba(163, 163, 163, 0.2);
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 11px;
    width: 240px;
    box-sizing: border-box;
  }
  .owner-dashboard .container-15 {
    margin-right: 4.7px;
    overflow-wrap: break-word;
    font-family: var(--header-h-1-font-family, 'Inter');
    font-weight: var(--header-h-1-font-weight, 700);
    font-size: var(--header-h-1-font-size, 28px);
    line-height: var(--header-h-1-line-height, 1.429);
    color: #01150C;
  }
  .owner-dashboard .trend {
    margin-top: 12px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 1.75;
    color: var(--secondary-1, #FF2727);
  }
  .owner-dashboard .frame-40159 {
    margin-right: 0.8px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40247 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .description {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-3-font-family, 'Inter');
    font-weight: var(--paragraph-p-3-font-weight, 300);
    font-size: var(--paragraph-p-3-font-size, 14px);
    line-height: var(--paragraph-p-3-line-height, 1.714);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40244 {
    margin: 0 17.3px 2px 0;
    display: flex;
    box-sizing: border-box;
  }
  .owner-dashboard .description-1 {
    margin-right: 16.3px;
    overflow-wrap: break-word;
    font-family: var(--header-h-6-font-family, 'Inter');
    font-weight: var(--header-h-6-font-weight, 500);
    font-size: var(--header-h-6-font-size, 14px);
    line-height: var(--header-h-6-line-height, 1.714);
    color: var(--gray-023, #525256);
  }
  .owner-dashboard .description-2 {
    overflow-wrap: break-word;
    font-family: var(--header-h-6-font-family, 'Inter');
    font-weight: var(--header-h-6-font-weight, 500);
    font-size: var(--header-h-6-font-size, 14px);
    line-height: var(--header-h-6-line-height, 1.714);
    color: var(--gray-023, #525256);
  }
  .owner-dashboard .frame-402481 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40249 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .card {
    box-shadow: var(--drop-shadow, 0px 8px 24px 0px rgba(69, 69, 80, 0.1));
    border-radius: 8px;
    background: #FDFDFD;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 20px 24px;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .hire-vs-cancel-1 {
    margin-right: 12px;
    width: 135px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.333;
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .today-1 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.333;
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-401581 {
    border-radius: 2px;
    background: var(--gray-04, #F8F7F1);
    display: flex;
    padding: 4px 8px 4px 9.4px;
    box-sizing: border-box;
  }
  .owner-dashboard .header-1 {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    box-sizing: border-box;
  }
  .owner-dashboard .pie-chart {
    margin: 0 0 24px 5.3px;
    width: 146px;
    height: 146px;
  }
  .owner-dashboard .ellipse-8 {
    border-radius: 8px;
    background: var(--primary, #006AFF);
    margin: 4px 12px 4px 0;
    width: 16px;
    height: 16px;
  }
  .owner-dashboard .fiction {
    overflow-wrap: break-word;
    font-family: var(--paragraph-font-family, 'Inter');
    font-weight: var(--paragraph-font-weight, 400);
    font-size: var(--paragraph-font-size, 16px);
    line-height: var(--paragraph-line-height, 1.5);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40064 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .container {
    overflow-wrap: break-word;
    font-family: var(--paragraph-font-family, 'Inter');
    font-weight: var(--paragraph-font-weight, 400);
    font-size: var(--paragraph-font-size, 16px);
    line-height: var(--paragraph-line-height, 1.5);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40067 {
    display: flex;
    box-sizing: border-box;
  }
  .owner-dashboard .item {
    margin: 0 8.7px 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 222px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-81 {
    border-radius: 8px;
    background: var(--green, #52C93F);
    margin: 4px 12px 4px 0;
    width: 16px;
    height: 16px;
  }
  .owner-dashboard .self-help {
    overflow-wrap: break-word;
    font-family: var(--paragraph-font-family, 'Inter');
    font-weight: var(--paragraph-font-weight, 400);
    font-size: var(--paragraph-font-size, 16px);
    line-height: var(--paragraph-line-height, 1.5);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40065 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .container-1 {
    overflow-wrap: break-word;
    font-family: var(--paragraph-font-family, 'Inter');
    font-weight: var(--paragraph-font-weight, 400);
    font-size: var(--paragraph-font-size, 16px);
    line-height: var(--paragraph-line-height, 1.5);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40068 {
    display: flex;
    box-sizing: border-box;
  }
  .owner-dashboard .item-1 {
    margin: 0 9px 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 222px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-82 {
    border-radius: 8px;
    background: var(--secondary, #FF2727);
    margin: 4px 12px 4px 0;
    width: 16px;
    height: 16px;
  }
  .owner-dashboard .business {
    overflow-wrap: break-word;
    font-family: var(--paragraph-font-family, 'Inter');
    font-weight: var(--paragraph-font-weight, 400);
    font-size: var(--paragraph-font-size, 16px);
    line-height: var(--paragraph-line-height, 1.5);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40066 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .container-2 {
    overflow-wrap: break-word;
    font-family: var(--paragraph-font-family, 'Inter');
    font-weight: var(--paragraph-font-weight, 400);
    font-size: var(--paragraph-font-size, 16px);
    line-height: var(--paragraph-line-height, 1.5);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40069 {
    display: flex;
    box-sizing: border-box;
  }
  .owner-dashboard .item-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 222px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40217 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 222px;
    box-sizing: border-box;
  }
  .owner-dashboard .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: 222px;
    box-sizing: border-box;
  }
  .owner-dashboard .statistics {
    box-shadow: var(--drop-shadow, 0px 8px 24px 0px rgba(69, 69, 80, 0.1));
    border-radius: 8px;
    background: #FDFDFD;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 288px;
    box-sizing: border-box;
  }
  .owner-dashboard .todays-stats {
    border-radius: 15px;
    background: #FFFFFF;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding: 32px 15px 188px 15px;
    box-sizing: border-box;
  }
  .owner-dashboard .color {
    width: 17.5px;
    height: 17.5px;
  }
  .owner-dashboard .action-icon {
    margin: 0 18.5px 0.5px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-7 {
    width: 18px;
    height: 10.5px;
  }
  .owner-dashboard .bifilter {
    margin: 2px 16.3px 3.5px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .union {
    width: 16px;
    height: 13.5px;
  }
  .owner-dashboard .action-icon-1 {
    margin-right: 17.3px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .union-1 {
    width: 16px;
    height: 9.5px;
  }
  .owner-dashboard .action-icon-2 {
    margin: 3.3px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .density {
    margin: 1px 19px 1px 0;
    display: flex;
    flex-direction: row;
    width: 88px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-39 {
    width: 18px;
    height: 18px;
  }
  .owner-dashboard .action-icon-3 {
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .title-frame-iconset {
    margin: 0 3px 21px 3px;
    display: flex;
    flex-direction: row;
    width: 160px;
    box-sizing: border-box;
  }
  .owner-dashboard .live-book-status-1 {
    overflow-wrap: break-word;
    font-family: var(--header-h-4-font-family, 'Inter');
    font-weight: var(--header-h-4-font-weight, 600);
    font-size: var(--header-h-4-font-size, 16px);
    line-height: var(--header-h-4-line-height, 1.5);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40248 {
    margin-bottom: 12px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
  }
  .owner-dashboard .no {
    margin: 1px 8px 1px 0;
    display: inline-block;
    width: 24px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.143;
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .book-no {
    overflow-wrap: break-word;
    font-family: var(--paragraph-1-font-family, 'Inter');
    font-weight: var(--paragraph-1-font-weight, 300);
    font-size: var(--paragraph-1-font-size, 14px);
    line-height: var(--paragraph-1-line-height, 1.286);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40188 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    box-sizing: border-box;
  }
  .owner-dashboard .book-name {
    overflow-wrap: break-word;
    font-family: var(--paragraph-1-font-family, 'Inter');
    font-weight: var(--paragraph-1-font-weight, 300);
    font-size: var(--paragraph-1-font-size, 14px);
    line-height: var(--paragraph-1-line-height, 1.286);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40189 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 302px;
    box-sizing: border-box;
  }
  .owner-dashboard .status {
    overflow-wrap: break-word;
    font-family: var(--paragraph-1-font-family, 'Inter');
    font-weight: var(--paragraph-1-font-weight, 300);
    font-size: var(--paragraph-1-font-size, 14px);
    line-height: var(--paragraph-1-line-height, 1.286);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40190 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 484px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .price {
    overflow-wrap: break-word;
    font-family: var(--paragraph-1-font-family, 'Inter');
    font-weight: var(--paragraph-1-font-weight, 300);
    font-size: var(--paragraph-1-font-size, 14px);
    line-height: var(--paragraph-1-line-height, 1.286);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .action {
    overflow-wrap: break-word;
    font-family: var(--paragraph-1-font-family, 'Inter');
    font-weight: var(--paragraph-1-font-weight, 300);
    font-size: var(--paragraph-1-font-size, 14px);
    line-height: var(--paragraph-1-line-height, 1.286);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40191 {
    border-bottom: 1px solid rgba(163, 163, 163, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 34.4px 11px 0.7px;
    width: 744px;
    box-sizing: border-box;
  }
  .owner-dashboard .header-2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .container-3 {
    margin: 4px 8px 4px 0;
    display: inline-block;
    width: 24px;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .container-4 {
    overflow-wrap: break-word;
    font-family: var(--header-h-5-font-family, 'Inter');
    font-weight: var(--header-h-5-font-weight, 400);
    font-size: var(--header-h-5-font-size, 14px);
    line-height: var(--header-h-5-line-height, 1.143);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-39984 {
    border-radius: 4px;
    background: rgba(153, 153, 153, 0.1);
    display: flex;
    padding: 4px 15.5px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40172 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    box-sizing: border-box;
  }
  .owner-dashboard .derto-gada {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40177 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 302px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-2 {
    border-radius: 6px;
    background: #FF0000;
    width: 12px;
    height: 12px;
  }
  .owner-dashboard .completed {
    position: relative;
    margin: 1.5px 16px 1.5px 0;
    display: flex;
    padding: 2px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  .owner-dashboard .rented {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-39985 {
    margin: 2.5px 0px 2.5px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40178 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 484px;
    box-sizing: border-box;
  }
  .owner-dashboard .birr {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40181 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 612px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-8 {
    width: 18px;
    height: 18px;
  }
  .owner-dashboard .mdiedit {
    margin: 1px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-9 {
    width: 15.6px;
    height: 20px;
  }
  .owner-dashboard .icbaseline-delete {
    display: flex;
    width: 15.6px;
    height: 20px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-35521 {
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69.6px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .item-3 {
    border-bottom: 1px solid rgba(163, 163, 163, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 14.4px 11px 5.5px;
    width: 744px;
    box-sizing: border-box;
  }
  .owner-dashboard .container-5 {
    margin: 4px 8px 4px 0;
    display: inline-block;
    width: 24px;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .container-6 {
    overflow-wrap: break-word;
    font-family: var(--header-h-5-font-family, 'Inter');
    font-weight: var(--header-h-5-font-weight, 400);
    font-size: var(--header-h-5-font-size, 14px);
    line-height: var(--header-h-5-line-height, 1.143);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-399841 {
    border-radius: 4px;
    background: rgba(153, 153, 153, 0.1);
    display: flex;
    padding: 4px 15.5px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-401721 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    box-sizing: border-box;
  }
  .owner-dashboard .fikr-eske-mekabr {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-401771 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 302px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-21 {
    border-radius: 6px;
    background: #FF0000;
    width: 12px;
    height: 12px;
  }
  .owner-dashboard .completed-1 {
    position: relative;
    margin: 1.5px 16px 1.5px 0;
    display: flex;
    padding: 2px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  .owner-dashboard .rented-1 {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-399851 {
    margin: 2.5px 0px 2.5px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-401781 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 484px;
    box-sizing: border-box;
  }
  .owner-dashboard .birr-1 {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-401811 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 612px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-10 {
    width: 18px;
    height: 18px;
  }
  .owner-dashboard .mdiedit-1 {
    margin: 1px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-11 {
    width: 15.6px;
    height: 20px;
  }
  .owner-dashboard .icbaseline-delete-1 {
    display: flex;
    width: 15.6px;
    height: 20px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-355211 {
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69.6px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .item-4 {
    border-bottom: 1px solid rgba(163, 163, 163, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 14.4px 11px 5.5px;
    width: 744px;
    box-sizing: border-box;
  }
  .owner-dashboard .container-7 {
    margin: 4px 8px 4px 0;
    display: inline-block;
    width: 24px;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .container-8 {
    overflow-wrap: break-word;
    font-family: var(--header-h-5-font-family, 'Inter');
    font-weight: var(--header-h-5-font-weight, 400);
    font-size: var(--header-h-5-font-size, 14px);
    line-height: var(--header-h-5-line-height, 1.143);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-399842 {
    border-radius: 4px;
    background: rgba(153, 153, 153, 0.1);
    display: flex;
    padding: 4px 15.5px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-401722 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    box-sizing: border-box;
  }
  .owner-dashboard .the-power-of-now {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-401772 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 302px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-22 {
    border-radius: 6px;
    background: #FF0000;
    width: 12px;
    height: 12px;
  }
  .owner-dashboard .completed-2 {
    position: relative;
    margin: 1.5px 16px 1.5px 0;
    display: flex;
    padding: 2px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  .owner-dashboard .rented-2 {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-399852 {
    margin: 2.5px 0px 2.5px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-401782 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 484px;
    box-sizing: border-box;
  }
  .owner-dashboard .birr-2 {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-401812 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 612px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-12 {
    width: 18px;
    height: 18px;
  }
  .owner-dashboard .mdiedit-2 {
    margin: 1px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-13 {
    width: 15.6px;
    height: 20px;
  }
  .owner-dashboard .icbaseline-delete-2 {
    display: flex;
    width: 15.6px;
    height: 20px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-355212 {
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69.6px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .item-5 {
    border-bottom: 1px solid rgba(163, 163, 163, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 14.4px 11px 5.5px;
    width: 744px;
    box-sizing: border-box;
  }
  .owner-dashboard .container-9 {
    margin: 4px 8px 4px 0;
    display: inline-block;
    width: 24px;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .container-10 {
    overflow-wrap: break-word;
    font-family: var(--header-h-5-font-family, 'Inter');
    font-weight: var(--header-h-5-font-weight, 400);
    font-size: var(--header-h-5-font-size, 14px);
    line-height: var(--header-h-5-line-height, 1.143);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-39987 {
    border-radius: 4px;
    background: rgba(153, 153, 153, 0.1);
    display: flex;
    padding: 4px 15.8px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40173 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    box-sizing: border-box;
  }
  .owner-dashboard .derto-gada-1 {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40176 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 302px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-23 {
    border-radius: 6px;
    background: var(--primary-1, #00ABFF);
    width: 12px;
    height: 12px;
  }
  .owner-dashboard .pending {
    position: relative;
    margin: 1.5px 16px 1.5px 0;
    display: flex;
    padding: 2px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  .owner-dashboard .free {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-39990 {
    margin: 2.5px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40179 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 484px;
    box-sizing: border-box;
  }
  .owner-dashboard .birr-3 {
    margin: 2.5px 0px 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40182 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 612px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-14 {
    width: 18px;
    height: 18px;
  }
  .owner-dashboard .mdiedit-3 {
    margin: 1px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-15 {
    width: 15.6px;
    height: 20px;
  }
  .owner-dashboard .icbaseline-delete-3 {
    display: flex;
    width: 15.6px;
    height: 20px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-355213 {
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69.6px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .item-6 {
    border-bottom: 1px solid rgba(163, 163, 163, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 14.4px 11px 4.6px;
    width: 744px;
    box-sizing: border-box;
  }
  .owner-dashboard .container-11 {
    margin: 4px 8px 4px 0;
    display: inline-block;
    width: 24px;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .container-12 {
    overflow-wrap: break-word;
    font-family: var(--header-h-5-font-family, 'Inter');
    font-weight: var(--header-h-5-font-weight, 400);
    font-size: var(--header-h-5-font-size, 14px);
    line-height: var(--header-h-5-line-height, 1.143);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-399871 {
    border-radius: 4px;
    background: rgba(153, 153, 153, 0.1);
    display: flex;
    padding: 4px 15.8px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-401731 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    box-sizing: border-box;
  }
  .owner-dashboard .derto-gada-2 {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-401761 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 302px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-24 {
    border-radius: 6px;
    background: var(--primary-1, #00ABFF);
    width: 12px;
    height: 12px;
  }
  .owner-dashboard .pending-1 {
    position: relative;
    margin: 1.5px 16px 1.5px 0;
    display: flex;
    padding: 2px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  .owner-dashboard .free-1 {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-399901 {
    margin: 2.5px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-401791 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 484px;
    box-sizing: border-box;
  }
  .owner-dashboard .birr-4 {
    margin: 2.5px 0px 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-401821 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 612px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-16 {
    width: 18px;
    height: 18px;
  }
  .owner-dashboard .mdiedit-4 {
    margin: 1px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-17 {
    width: 15.6px;
    height: 20px;
  }
  .owner-dashboard .icbaseline-delete-4 {
    display: flex;
    width: 15.6px;
    height: 20px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-355214 {
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69.6px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .item-7 {
    border-bottom: 1px solid rgba(163, 163, 163, 0.25);
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 14.4px 11px 4.6px;
    width: 744px;
    box-sizing: border-box;
  }
  .owner-dashboard .container-13 {
    margin: 4px 8px 4px 0;
    display: inline-block;
    width: 24px;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .container-14 {
    overflow-wrap: break-word;
    font-family: var(--header-h-5-font-family, 'Inter');
    font-weight: var(--header-h-5-font-weight, 400);
    font-size: var(--header-h-5-font-size, 14px);
    line-height: var(--header-h-5-line-height, 1.143);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-39992 {
    border-radius: 4px;
    background: rgba(153, 153, 153, 0.1);
    display: flex;
    padding: 4px 17.3px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40174 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    box-sizing: border-box;
  }
  .owner-dashboard .derto-gada-3 {
    margin: 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--black, #1A1919);
  }
  .owner-dashboard .frame-40175 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 302px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-25 {
    border-radius: 6px;
    background: var(--primary-1, #00ABFF);
    width: 12px;
    height: 12px;
  }
  .owner-dashboard .pending-2 {
    position: relative;
    margin: 1.5px 16px 1.5px 0;
    display: flex;
    padding: 2px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  .owner-dashboard .free-2 {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-399902 {
    margin: 2.5px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40180 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 484px;
    box-sizing: border-box;
  }
  .owner-dashboard .birr-5 {
    margin: 2.5px 0px 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-4-font-family, 'Inter');
    font-weight: var(--paragraph-p-4-font-weight, 300);
    font-size: var(--paragraph-p-4-font-size, 16px);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40183 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 612px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-18 {
    width: 18px;
    height: 18px;
  }
  .owner-dashboard .mdiedit-5 {
    margin: 1px 0;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .owner-dashboard .vector-19 {
    width: 15.6px;
    height: 20px;
  }
  .owner-dashboard .icbaseline-delete-5 {
    display: flex;
    width: 15.6px;
    height: 20px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-355215 {
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69.6px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .item-8 {
    margin: 0 14.4px 0 4.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 744px;
    box-sizing: border-box;
  }
  .owner-dashboard .car-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 744px;
    box-sizing: border-box;
  }
  .owner-dashboard .live-car-status {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .owner-dashboard .scroll-bar {
    opacity: 0.3;
    border-radius: 3px;
    background: var(--gray-03, #A3A3A3);
    position: absolute;
    top: 50%;
    right: 6px;
    translate: 0 -50%;
    width: 4px;
    height: 276px;
  }
  .owner-dashboard .live-book-status {
    box-shadow: var(--drop-shadow, 0px 8px 24px 0px rgba(69, 69, 80, 0.1));
    border-radius: 8px;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    padding: 60px 36px 53px 28px;
    box-sizing: border-box;
  }
  .owner-dashboard .earning-summary {
    margin-right: 12px;
    width: 137px;
    overflow-wrap: break-word;
    font-family: var(--header-h-4-font-family, 'Inter');
    font-weight: var(--header-h-4-font-weight, 600);
    font-size: var(--header-h-4-font-size, 16px);
    line-height: var(--header-h-4-line-height, 1.5);
    color: var(--black, #1A1919);
  }
  .owner-dashboard .mar-2022-oct-2024 {
    margin-right: 12.1px;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .vector-40 {
    width: 8px;
    height: 4px;
  }
  .owner-dashboard .chevron-down {
    margin: 6px 0;
    display: flex;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-40223 {
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .header-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 313px;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-17 {
    border-radius: 5px;
    background: var(--primary, #006AFF);
    margin: 3px 8px 3px 0;
    width: 10px;
    height: 10px;
  }
  .owner-dashboard .last-6-months {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40195 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .ellipse-171 {
    opacity: 0.5;
    border-radius: 5px;
    background: var(--gray-021, #656575);
    margin: 3px 8px 3px 0;
    width: 10px;
    height: 10px;
  }
  .owner-dashboard .same-period-last-year {
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--gray-021, #656575);
  }
  .owner-dashboard .frame-40213 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .owner-dashboard .option {
    margin: 4px 0px 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 273px;
    height: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .header-3 {
    margin: 0 1.9px 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 748px;
    box-sizing: border-box;
  }
  .owner-dashboard .kbirr {
    margin-bottom: 30px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .kbirr-1 {
    margin: 0 0.4px 30px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .kbirr-2 {
    margin: 0 2.1px 30px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .birr-6 {
    margin-right: 11.5px;
    overflow-wrap: break-word;
    font-family: var(--paragraph-p-5-font-family, 'Inter');
    font-weight: var(--paragraph-p-5-font-weight, 400);
    font-size: var(--paragraph-p-5-font-size, 12px);
    line-height: var(--paragraph-p-5-line-height, 1.333);
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .graph-1 {
    margin: 0 32.9px 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .owner-dashboard .graph-3 {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 656px;
    height: 122px;
  }
  .owner-dashboard .rectangle-25 {
    opacity: 0.15;
    border-radius: 1px;
    background: var(--gray-021, #656575);
    margin: 0 13.4px 16px 13.4px;
    width: 1px;
    height: 150px;
  }
  .owner-dashboard .may {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .month {
    position: relative;
    margin-right: 90.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .owner-dashboard .rectangle-31 {
    opacity: 0.15;
    border-radius: 1px;
    background: var(--gray-021, #656575);
    margin: 0 11.5px 16px 11.5px;
    width: 1px;
    height: 150px;
  }
  .owner-dashboard .jun {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .month-1 {
    position: relative;
    margin-right: 94.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .owner-dashboard .rectangle-26 {
    opacity: 0.15;
    border-radius: 1px;
    background: var(--gray-021, #656575);
    margin: 0 9px 16px 9px;
    width: 1px;
    height: 150px;
  }
  .owner-dashboard .jul {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .month-2 {
    position: relative;
    margin-right: 93.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .owner-dashboard .rectangle-32 {
    opacity: 0.15;
    border-radius: 1px;
    background: var(--gray-021, #656575);
    margin: 0 12.6px 16px 12.6px;
    width: 1px;
    height: 150px;
  }
  .owner-dashboard .aug {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .month-3 {
    position: relative;
    margin-right: 90.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .owner-dashboard .rectangle-27 {
    opacity: 0.15;
    border-radius: 1px;
    background: var(--gray-021, #656575);
    margin: 0 12.3px 16px 12.3px;
    width: 1px;
    height: 150px;
  }
  .owner-dashboard .sep {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .month-4 {
    position: relative;
    margin-right: 91.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .owner-dashboard .rectangle-271 {
    opacity: 0.15;
    border-radius: 1px;
    background: var(--gray-021, #656575);
    margin: 0 11.3px 16px 11.3px;
    width: 1px;
    height: 150px;
  }
  .owner-dashboard .oct {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    color: var(--gray-02, #525256);
  }
  .owner-dashboard .month-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .owner-dashboard .graph-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 26.2px 0 24.1px;
    box-sizing: border-box;
  }
  .owner-dashboard .chart {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .graph {
    box-shadow: var(--drop-shadow, 0px 8px 24px 0px rgba(69, 69, 80, 0.1));
    border-radius: 8px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 31px 50px 28px;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-1948754917 {
    border-radius: 8px;
    display: flex;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-1948754918 {
    margin-bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-1948754919 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .owner-dashboard .frame-1948754920 {
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .owner-dashboard {
    background: #F0F2FF;
    display: flex;
    flex-direction: row;
    padding: 15px 18px 22px 10px;
    width: 1473px;
    box-sizing: border-box;
  }
  